.container-props {
    display: flex;
    flex-direction: column;
    height: 60vh;
    overflow: auto;
    p {
        border-bottom: 1px solid black;
        margin: 0px;
        width: 100%;
        padding: 0.5rem;
        padding-left: 1rem;
    }
}

.mini-p-load {
    animation: opacityLoad 1s cubic-bezier(0.6, -0.28, 0.735, 0.045)  infinite;
}

@keyframes opacityLoad{
    0%{   
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}