.search-display-container {
    top: 0;
    position:absolute;
    left: 20vw;
    background-color: gainsboro;
    width: 30%;
    height: 100vh;
    font-size: 1rem;
    p {
        margin: 0px auto;
    }
}
