.search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    align-items: center;
    input {
        width: 50%;
        height: 1.5rem;
        border: none;
        border-radius: 6px;
        padding: 1rem;    
    }
}

.small-search-icon {
    font-size: 1.1rem !important;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    width: 90%;
    max-height: fit-content;
    background-color: white;
    border-radius: 50px;
    height: 2.5rem;
    align-items: center;
}

.for-cursor {
    margin-left: 1rem;
    :hover {
        cursor: pointer;
    }
    svg {
        margin: 0px;
    }
}

@media only screen and (max-width: 800px){
    .search-container {
        margin-top: 1rem;
    }

    .search-box {
        align-items: flex-start;
    }
}

