.container-navbar {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    min-width: 20vw;
    color: black;
    p {
        color: black;
        text-align:start;
        margin: 1rem;
    }
}